h1 {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width: auto;
    border-style: outset;
    border-width: 5px;
    border-color: turquoise;
    border-radius: 10px;
}

img {
    width: 600px;
    height: auto;
    align-content: center;
}

#ingredients {
    background-color: white;
    color: black;
    text-align: left;
    padding: 5px;
    width: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}